 <aside id="sidebar" class="w-64 bg-orange-400 text-black font-bold border-r-2 rounded-r-xl border-orange-600 shadow-2xl shadow-black/70 z-50">
        <div class="p-4 flex items-center justify-center  border-b-2 border-orange-700">
            <h1  class="text-xl font-bold mx-1"><i class="fa-solid fa-bars mr-3 ml-0 text-red-800"></i> <a href="/menu">Menu Principal</a></h1>
        </div>
        <nav class="p-4">
            <ul class="space-y-2">
                <li>
                    <a href="/inventario" class="flex items-center  p-2 rounded hover:bg-orange-700 transition">
                        <i class="fas fa-box mr-3 text-red-800"></i> Inventario
                    </a>
                </li>
                <li>
                    <a href="/materiales" class="flex items-center p-2 rounded hover:bg-orange-700 transition">
                        <i class="fas fa-boxes mr-3 text-red-800"></i> Materiales
                    </a>
                </li>
                <li>
                    <a href="/contabilidad" class="flex items-center p-2 rounded hover:bg-orange-700 transition">
                        <i class="fas fa-calculator mr-3 text-red-800"></i> Contabilidad
                    </a>
                </li>
                <li>
                    <a href="/catalogo" class="flex items-center p-2 rounded hover:bg-orange-700 transition">
                        <i class="fas fa-wine-bottle mr-3 text-red-800"></i> Catálogo de Productos
                    </a>
                </li>
                <li>
                    <a href="/empleados" class="flex items-center p-2 rounded hover:bg-orange-700 transition">
                        <i class="fas fa-users mr-3 text-red-800"></i> Empleados
                    </a>
                </li>
                <li>
                    <a href="/clientes" class="flex items-center p-2  rounded hover:bg-orange-700 transition">
                        <i class="fas fa-user-tie mr-3 text-red-800"></i> Clientes
                    </a>
                </li>
                <li>
                    <a href="/proveedor" class="flex items-center p-2 rounded hover:bg-orange-700 transition">
                        <i class="fas fa-truck mr-3 text-red-800"></i> Proveedores
                    </a>
                </li>
            </ul>
        </nav>
    </aside>